main{
    border-top-style: solid;
    padding: 25px;
    margin: inherit;
}

.filtres{
    border: bisque solid 15px;
}

.activity{
    border: aqua solid 15px;
    background-color: blue;
    border-radius: 20px 20px 20px 20px;
}

.hotelEtoile{
    border: solid 20px;
}