/* Font perso */
@import  url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
/* General */

body {
    width: auto;
    height: auto;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

main{
    margin-left:2%;
}

ul{
    list-style-type: none;
    margin: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.searchHeaderTitre{
     font-size: 1.6em;
}

#logo{
    margin-left: -73px;
    width:100%;
}

.logo{
    width: 9%;
}

nav{
    width: 100%;
    margin-left: auto;
}

nav li{
    padding-top: 17px;
}

nav a{
    padding: 40px 30px 0;
}

.menu a:hover{
    color:#0065FC;
    border-top: 2px solid #0065FC;
    font-size: initial;
    padding-top: 30px;
}

.menu{
    padding: 33px;
    margin-left: -3%;
}

.sinscrire
{
    font-size: 15px;
    color:#0065FC;
    font-weight: bolder;
}

.flex-container nav ul{
     display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 0;
}

/*recherher*/


.searchBar
{
    margin-bottom: 30px;
    height: 50px;
    display: flex;

}

.search{
    margin-bottom: 30px;
}

.search h1{
    margin-bottom: 30px;
}

.search p{
    margin-top: 30px;
}

.searchInput{
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
    border: solid 1px #f2f2f2;
}

.searchFormSubmitInput_2{
    width: 30px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
    display: none;
}

.searchButton{
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 15px;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
}

.fa-map-marker-alt:before {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
    margin: auto;
    align-items: center;
}

.filtre{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 4px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
}


.contourFiltres{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.contourFiltres :hover{
    align-items: center;
    background-color: #f3f8ff;
    transform: scale(1.050);
}

.filtresTitre{
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.filtreTitre{
     padding-left: 6px;
    padding-right: 10px;
}

.icone{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: 1.3rem;
}

.info{
    display: flex;
    align-items: center;
    padding-top: 2%;
}

.iconeinfo{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color:#0065FC
}

.texteinfo
{
    margin: 0;
}


.fa-star
{
    font-size: .8rem;
    letter-spacing: 2px;
}

.blueStar
{
    color: #0065FC;
}

.greyStar
{
    color: #f2f2f2;
}

/*hebergement*/

.containerHotels{
     margin: 0;
     padding: 0;
}

#BlocHebergements{
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-wrap:wrap;
    flex: 1 50% 65%;
    margin: 3% 3% 3% auto;
    padding: 26px ;
}

.TitreHebergement{
    flex: 1 0 70%;
    padding-left: 20px;
}


#BlocHebergements h4{
    margin: 0;
    padding: 0;
}

.container-items{
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
    flex: 1 0 30%;
    margin: 15px 15px;
    height: 220px;
}
.container-items:hover,
.figurePhotoPopulaire:hover,
.activitePhotoFigure:hover,
.figurePhotoPopulaire1:hover{
    transform: scale(1.0200);
    background-color: #f3f8ff;
}

.container-items img
{
    height: 62%;
    object-fit: cover;
}

.figurePhotoHébergements{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
}

.hotelDescription{
    background-color: #fff;
    padding: 12px 10px;
}

.hotelDescription p{
    margin: 0;
    padding-top: 5px;
}

.hotelEtoile{
    word-spacing: -1ch;
    padding-top: 3px;
}

.hotelEtoile1{
    word-spacing: -1ch;
    padding-top: 20%;
}

.containerHotels
{
    display: flex;
    align-items: center;
}
.ShowMore
{
    font-weight: 700;
    font-size: 1.2rem;
    padding-left: 20px;
}

/*populaire*/

#populaire{
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 20px;
    flex: 1 0 29%;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}

.populaireIcon{
    font-size: 1.5rem;
    padding-right: 10%;
}

.populaireTexte{
    margin-left: 8%;
    margin-bottom: 9%;
}

.populaireDescription{
    background-color: #fff;
    justify-content: space-between;
    padding: 4%;
    flex-grow: 1;
    flex-basis: 16%;

}

.populaireDescription p{
    margin: 0;
    padding-top: 5px;
}

.figurePhotoPopulaire{
    height: 150px;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

.figurePhotoPopulaire1{
    display: flex;
    height: 150px;
    width: 98%;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
}


.populaireFrame img{
    width: 40%;
    object-fit: cover;
}

.hotelNom{
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
}

.populaireDescription .hotelName .p{
    margin-top: 8px;
    margin-bottom: 0;
}

.ShowMore{
    font-weight: 700;
    font-size: 1.2rem;
    padding-left: 20px;
}


/*Activité*/

.blocActivite{
    display: flex;
    width: 98%;
    margin: 4rem 0;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 3px;
}

.activiteHeader{
    width: 100%;
    border: solid;
}

.activiteFi{
   flex: 1 20%; 
}


























/* Footer */

footer {
    background-color: #f2f2f2;
}

footer{
    height: auto;
    padding-bottom: 20px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .h3 {
    font-size: initial;
}

footer ul {
    list-style-type: none;
    margin-left: -40px;
}


footer ul li {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: black;
}


footer div {
    margin-left: -285px;
}

footer a:hover {
    font-weight: 600;
    color: #0065FC;
}





























































