/* Font perso */
@import  url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap' );
/* General */

body{
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
}

#main{
    margin:3%;
}
.logo{
    margin-right: 0px;
    padding-top: 0px;
    
}

#logo{
    width:99%;
    height:99%;
    margin-right: 2%;
}
.flex-container {
    width: 98%;
}

    .flex-container nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
    }

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none; 
    color: inherit;
}

h2{
    font-weight: 700;
}

.flex{
    display: flex;
}

.euros{
    font-weight: 600;
}

/* Header */

header{
    justify-content: space-between;
    margin-bottom: 35px;
}
   
.logo-image {
    width:auto;
    height:auto;
    
}
nav li {
    padding-top: 30px;
}

nav a{
    padding: 40px 30px 0;
}


nav li a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 38px;
}

/* Search bar */

.navigation-container {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    width: 98%;
    margin: 1%;
}

.navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.research{
    width: 30px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
    display: none;
}

.search{
    margin-bottom: 30px;
}

.search h2{
    margin-bottom: 10px;
}

.search p{
    margin-top: 10px;
}

.searchBar{
    margin-bottom: 30px;
    height: 50px;
}

.containerMarker{
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    flex-shrink: 0;
}

.containerMarker i{
    margin: auto;
    font-size: 1.2rem;
}

.searchInput{
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
}

.searchButton{
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
}

.searchButton i{
    display: none;
}
.container-filtres {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    width:95%;
    margin:1%;
}
.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    align-self:auto;
    width: 65%;
    margin: 1%;
    padding:1%;
}

.contourfiltres {
    font-size: 22px;
    width: 6%;
    margin: 1%;
    padding: 1%;
    padding-top:4%;
    vertical-align: middle;
    height: 3.4rem;
}

.contourfiltre{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.4rem;
    width: 20%;
    border: solid 2px #d9d9d9;
    border-radius: 2rem;
    margin-top: 20px;
}

.contourfiltre :hover{
    color:blue;
    align-items: center;
    background-color: #f3f8ff;
    transform: scale(1.050);

}

.icone{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 2.1rem;
    width: 2.1rem;
    min-height: 3.6rem;
    min-width: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px;
    color: blue;
}

.textefiltre{
    margin-left: 10%;
    font-size: 110%;
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.iconeinfo{
    height: 20px;
    width: 20px;
    border: solid 1px #D9D9D9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
}
/* Hebergement */

.hebergements {
    flex: 2;
    width: 98%;
    height: 70%;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 1%;
    padding:2%;
}

.popular {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 0;
    height: 70%;
    width:35%;
}


.hebergements h2 {
    margin: 0;
    padding: 0;
}

.block-hotels {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    margin: 30px 0 50px;
}

.container-items {
    display: grid;
    height: 220px;
    grid-template-rows: 1fr 40%;
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
}
    .container-items:hover,
    .popularFrame:hover,
    .shade-un-et-trois:hover,
    .haute:hover, .basse:hover {
        transform: scale(1.0300);
        background-color: #f3f8ff;
    }
    .container-items img {
        width: 100%;
        height: 126px;
        object-fit: cover;
    }

.hotelDescription {
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 5px 10px;
}

.hotelDescription p {
    margin: 0;
}

.hotelRate {
    word-spacing: -1ch;
}

.fa-star{
    font-size: .8rem;
    letter-spacing: 2px;
}

.blueStar {
    color: #0065FC;
}

.greyStar{
    color: #f2f2f2;
}

.showMore {
    font-weight: 700;
    font-size: 1.2rem;
}

/* Popular */

.popular {
    flex: 1;
    height: 80%;
    margin: 1%;
    padding:2%;
}

.popularIcon {
    justify-content: space-between;
    align-items: baseline;
}

.popularIcon h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

.popularIcon i {
    font-size: 1.5rem;
}

.popularFrame {
    height: 145px;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
}

.popularFrame img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.popularDescription {
    flex: 1;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.hotelName {
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
}

.popularDescription .hotelName .p {
    margin-top: 8px;
    margin-bottom: 0;
}

/* Activities */
.activites {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
}
.commun {
    border-radius: 20px;
    width: 23%;
    margin: 1%;
    height: 100%;
}
.un-et-trois {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.image-un-et-trois{
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.description-un-et-trois {
    height: 40px;
    width: 100%;
    padding: 2%;
    text-align:left;
}

.deux-et-quatres {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}
.haute {
    height: 215px;
    box-shadow: 0 0 7px #c1c1c1;
    width: 100%;
    border-radius: 20px;
    margin: 2%;
}
.basse {
    height: 200px;
    box-shadow: 0 0 7px #c1c1c1;
    width: 100%;
    border-radius: 20px;
    margin: 2%;
}
.shade-un-et-trois {
    box-shadow: 0 0 7px #c1c1c1;
}
.image-deux-et-quatre-haute {
    width: 100%;
    height: 170px;
    margin:0px;
    border-radius: 20px 20px 0px 0px;
}


.description-deux-et-quatre-haute {
    width: 98%;
    height: 30px;
    margin: 1%;
    border-radius: 20px 20px 0px 0px;
}


.image-deux-et-quatre-basse {
    width: 100%;
    height: 150px;
    margin: 0px;
    border-radius: 20px 20px 0px 0px;

}


.description-deux-et-quatre-basse {
    width: 98%;
    height: 30px;
    margin: 1%;
    border-radius: 20px 20px 0px 0px;
}


.activitiesTab{
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(4, 1fr);
    gap: 37.5px;
    height: 450px;
    grid-auto-flow: column;
}

.row12{
    grid-row-end: span 13;
}

.row6{
    grid-row-end: span 7;
}

.row5{
    grid-row-end: span 6;
}

.activityFrame{
    display: grid;
    grid-template-rows: 1fr 50px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
    border: solid;

}

.image-act1{
    height: 150px;
    
}

.activityFrame img{
    width: 100%;
    object-fit: cover;
    height: 100%;

}
.activityFrame .image-act1{
    width: 100%;
    object-fit: cover;
    height: 20%;

}

.activityDescription{
    align-self: center;
    background-color: #fff;
    padding-left: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    
}

/* Footer */

footer{
    padding: 40px 50px 50px;
    background-color: #f2f2f2;
}

footer div{
    flex: 1;
}

footer li{
    margin-bottom: 15px;
}

footer a:hover{
    font-weight: 600;
    color: #0065FC;
}

@media only screen and (max-width: 1230px){
    .navigation{
        flex: 35% 20% 35%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        
    }

    .filtres{
        flex: 30% 30% 20% 35%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        width:98%;
        margin:1%;
    }

    .contourfiltre{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3.4rem;
        width: 30%;
        border: solid 2px #d9d9d9;
        border-radius: 2rem;
        
    }

    .textefiltre{
        margin-left: 6px;
        font-size: 110%;
    }
    

}

@media only screen and (max-width: 650px){
    #logo {
        width: 55%;
        height: 30%;
        margin: 0px;
    }

    .logo {
        margin-left: 0;
    }
    .flex-container nav ul {
        flex: 1 2 auto;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: auto;
    }

        .flex-container nav ul :nth-child(1) {
            order: 1;
        }

        .flex-container nav ul :nth-child(2) {
            order: 3;
        }

        .flex-container nav ul :nth-child(3) {
            order: 4;
        }

        .flex-container nav ul :nth-child(4) {
            order: 1;
        }

    nav li a:hover {
        color: #0065FC;
        border-bottom: 2px solid#0065FC;
        font-weight: bolder;
        font-size: 15px;
        width: 4%;
        padding-bottom: 15px;
        border-top: none;
    }

    nav li a {
        color: #0065FC;
        font-weight: bolder;
        font-size: 15px;
        padding-bottom: 20px;
        border-top: none;
    }
    .research{
        width: 50px;
        background-color: #0065FC;
        border: none;
        padding: 0;
        border-radius: 15px 15px 15px 15px;
        color: #fff;
        font-weight: 600;
        font-size: 1.1rem;
        cursor: pointer;
        flex-shrink: 0;
        display: initial;

    }

    .searchButton{
        display: none;
        width: 0;
    }
    .filtres {
        flex: 2 1 auto;
        flex-wrap: wrap;
        height: auto;
        justify-content:flex-start;
        width: 96%;
        margin: 1%;
    }
    .container-filtres {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 1%;
        align-items:flex-start;
    }

        
    .contourfiltre {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3.4rem;
        width: auto;
        border: solid 2px #d9d9d9;
        border-radius: 2rem;
        margin:2%;
        padding-right:4%;
    }

    .textefiltre{
        margin:0 0 0 8%;
        font-size: 110%;

    }

    
    .searchInput{
        padding:0;
        font-size: 1.1rem;
        font-weight: 600;
        width:90%;
        border: none;
    }
    .searchBar {
      margin:2%;
    }
    .searchInput::placeholder {
        color: #c2c2c2;
    }
    
    .containerHotels{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: auto;

    }

    .hebergements, .popular{
        background-color: #f2f2f2;
        border-radius: 20px;
        padding:1%;
        margin:1%;
        width:95%;
    }

    .popularFrame img{
        width:50%;
        height: 100%;
        object-fit: cover;
    }
    .popularFrame {
        margin:2%;
    }
    .block-hotels {
        display: flex;
        flex-direction: column;
    }
    .activites-container{
        width: auto;
    }

    .activites {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        width: 100%;
    }

    .commun {
        border-radius: 20px;
        width: auto;
        margin: 1%;
        height: 100%;
    }

    .un-et-trois {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .image-un-et-trois{
        height: 380px;
        width: auto;
        border-radius: 20px 20px 0px 0px;
    }
    .footer 
    {
        flex:98% 98% 98%;
        flex-direction:column;
        margin:1%;
    }
   
/*  #main{
      border: solid;
      width: 100%;
      margin: 0;
      padding: 0;
  }*/

    .logo {
        width:auto;
        height:auto;
    }
    .navigation-container {
       flex :2 1 auto;
       flex-direction:column;
    }
    .navigation {
        flex: 10% 25% 50% 25%;
        flex-wrap: wrap;
        flex-direction:column-reverse;
        justify-content: center;
        width: 92%;
        align-self:auto;
    }
    .popular {
        padding:2%;
    }
}