/* Font perso */
@import  url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap' );
/* General */

body
{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

main
{
margin: 2%;
}
/*header*/

ul
{
    list-style-type: none;
    padding: 0;
    margin: auto;
}
a
{
    text-decoration: none; 
    color: inherit;
}

.Trouvez
{
    font-size: 1.4em;
}

#logo 
{
    margin-left: -10px;
    width:95%;
}
nav 
{
    width: 100%;
    margin-left: auto;
}
nav li
{
    padding-top: 17px;
}

nav a 
{
    padding: 40px 30px 0;
}


.menu a:hover
{
    color:#0065FC;
    border-top: 2px solid #0065FC;
    font-size: initial;
    padding-top: 30px;
}
.menu {
    padding: 33px;
}

.sinscrire
{
    font-size: 15px;
    color:#0065FC;
    font-weight: bolder;
}


/*recherher*/



.flex-container nav ul 
{
    display: flex;
    justify-content: flex-end;
       
}
.searchBar
{
    margin-bottom: 30px;
    height: 50px;
    display: flex;
    
}
.search 
{
    margin-bottom: 30px;
}

.search h1
{
    margin-bottom: 30px;
}

.search p{
    margin-top: 30px;
}

.searchInput
{
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
    border: solid 1px #f2f2f2;

}
.searchFormSubmitInput_2 
{
    width: 30px;
    background-color: #0065FC;
    border: none;
    padding: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
    display: none;
}

.searchButton 
{
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 15px;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    
}

.fa-map-marker-alt:before
{
    content: "\f3c5";
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.blocFilters
{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.blocFilters :hover
{
    background-color:blue;
    align-items: center;
    background-color: #f3f8ff;
    transform: scale(1.050);
}
.contourfiltres
{
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}
.filtre
{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;

}
.textefiltre
{
    padding-left: 6px;
    padding-right:10px;
}

.icone
{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: 1.3rem;
}
.info
{
    display: flex;
    align-items: center;
}
.iconeinfo
{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.iconeinfo
{
    color:#0065FC
}
.texteinfo
{
    margin: 0;
}
.bloc1
{
    display: flex;
    flex-direction: row;
}



.fa-star
{
    font-size: .8rem;
    letter-spacing: 2px;
}

.blueStar 
{
    color: #0065FC;
}

.greyStar
{
    color: #f2f2f2;
}


/*hebergement*/

#hebergements 
{  
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-wrap:wrap;
    margin: 3%;
    padding: 1%;
    flex: 1 0 68%;
    margin-left: auto;
}
.hotelsAnchor
{
 
 flex: 1 0 70%;
 padding-left: 20px;

}
.hotelsTab{
    flex-wrap: wrap;
    display: flex;
}
.hebergements h4 
{
    margin: 0;
    padding: 0;
}
.container-items 
{
    box-sizing: border-box;
    border: 5px solid #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 7px #c1c1c1;
    flex: 1 0 30%;
    margin: 15px 15px;
    height: 220px; 
}
.container-items:hover,
.figurePopular:hover
{
    transform: scale(1.0300);
    background-color: #f3f8ff;
}
.container-items img 
{
    height: 62%;
    object-fit: cover;
   
}
.figurePhoto
{
    display: flex;
    flex-direction: column;            
    height: 100%;
    margin: auto;
}


.hotelDescription 
{
    background-color: #fff;
    padding: 12px 10px;
}

.hotelDescription p 
{
    margin: 0;
    padding-top: 5px;
}
.hotelRate {
    word-spacing: -1ch;
    padding-top: 3px;
}
.hotelRate1 {
    word-spacing: -1ch;
    padding-top: 40px;
}
.containerHotels
{
    display: flex;
    align-items: center;
}
.ShowMore 
{
    font-weight: 700;
    font-size: 1.2rem;
    padding-left: 20px;
}  
/*populaire*/

#popular
{
     display: flex;
     flex-wrap: wrap;
     background-color: #f2f2f2;
     border-radius: 20px;
     flex: 1 0 25%;
     justify-content: space-between;
     align-items: center;
     padding: 1%;
     padding-left: 0;

}
.popularIcon 
{
    font-size: 1.5rem;
    padding: 2%;
    
}
.popularTexte 
{
   
    margin-left: 8%;
}

.popularDescription 
{
    background-color: #fff;
    justify-content: space-between;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 16%;
    
}
.popularDescription p 
{
    margin: 0;
    padding-top: 5px;
}
.figurePopular
{
    height: 150px;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 7px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    width: 88%;
}

.popularFrame img 
{
    width: 40%;
    object-fit: cover;
}
.hotelName 
{
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem;
}

.popularDescription .hotelName .p 
{
    margin-top: 8px;
    margin-bottom: 0;
}

.ShowMore 
{
    font-weight: 700;
    font-size: 1.2rem;
    padding-left: 20px;
}  


.container-block
{
    display: flex;
    font-size: 0.9rem;
    max-width: var(--max-width);
    margin: auto;
    background: #fff;
    padding: 0rem 2rem;
}

.activityFigure:hover{
    transform: scale(1.0100);
    background-color: #f3f8ff;

}

.activity
{
    display: flex;
    margin: 4rem 0;
    flex-wrap: wrap;
    margin-top: auto;
}
.activityMainHeader
{
width: 100%;
}
.activityTitle
{
    width: 100%;
}
.actiMi
{
    flex: 1 20%;
}

.activityArt2
{
    margin-bottom: 2.5rem;
}
.activityArt3
{
    margin-bottom: 3rem;
}
.activityArt5
{
    margin-bottom: 2rem;
}
.activityArt6
{
    margin-bottom: 3rem
}
.activityArt:hover
{
    transform: scale(1.01);
}
.activityArtCardWrapimg
{
    position: relative;
    flex: 1;
}
.activityFigure
{
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    box-sizing: border-box;
    margin: 0rem;
}
.actiBloc1{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.actiBloc2{
    margin-left: 2.5rem;
}

.activityCaption{
    padding: 0rem 0rem 0.7rem 1.5rem;
}
.activityImg1{
    height: 27rem;
    object-position: -160px 0%;
}
.activityImg2{
    height: 12rem;
    object-position: 0px 39%;
}
.activityImg3{
    height: 8rem;
    object-position: 0px 10% ;
}
.activityImg4{
    height: 27rem;
    object-position: -155px 0% ;
}
.activityImg5{
    height: 9rem;
    object-position: 0px 5% ;
}
.activityImg6{
    height: 11.5rem;
    object-position: 0px 0% ;
}
.activityImg{
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
    box-sizing: border-box;
}
.activityCardTilte{
    margin: 1rem;
}




/* Footer */
footer 
{
    padding: 40px 40px 40px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    
}

footer li 
{
    margin-bottom: 20px;

}

footer a:hover 
{
    font-weight: 600;
    color: #0065FC;
}
.about1
{
font-weight: 700;
}



/* Mobile version */
@media only screen and (max-width: 649px){
    
    main
    {
        margin:0;
    }
    .searchFormSubmitInput_2
    {
        width: 50px;
        border-radius: 17px 17px 17px 17px;
        display: initial;
    }
    #logo
    {
        width: 65%;
        height: 30%;
        margin-left: -28px;
    }

    .logo
    {
        margin-top: -12px;
        
    }
    .sinscrire 
    {
        font-weight: bolder;
        font-size: 15px;
        color:#0065FC;
        margin-right: 0;
        padding-right: 0;
        max-width: 0;
      
    }
    .searchButton
    {
        display: none;
        width: 0;
    }
    .recherche
    {
        margin:  0 4% 0 4%;
    }
    .container-filtres
    {
        margin: 0 4% 0 4%;
    }
    .searchBar
    {

        flex-direction: initial;
    }
    .popularIcon 
    {
        font-size: 1.5rem;
        margin: 10px;
    }
    .textefiltre
    {
        padding-left: 5px;
        padding-left: 5px;
        font-size: 15px;
    }
    .figurePopular
    {
        margin-left: 30px;
        width: 87%;
    }
    .contourfiltres
    {
        width: 100%;
    }
    #popular
    {
        border-radius: 0;
        margin: 0;
    }
   .info
    {
       padding-top: 10px;
       padding-bottom: 20px;
    }
    .searchInput::placeholder
    {
        color: #c2c2c2;
    }
    .container-items
    {
       margin: 25px -13px 15px -13px;
    }
    .hotelsAnchor
    {
        padding-left: 0;
    }
    .containerHotels
    {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: auto;

    }
    
    #hebergements, .popular
    {
        background-color: #f2f2f2;
        border-radius: 20px;

    }

    #hebergements 
    {
        background-color: white; 
        display: block; 
        margin: 0 4% 0 4%;
    }
    .bloc2
    {
        margin: 0 4% 0 5%;
    }
    .activityTitle
    {
        padding-left: 12px;
    }
    .ShowMore
    {
        padding-left: 0;
    }
    .popularFrame img
    {
        object-fit: cover;
    }
    
    .hotelsTab 
    {
        display: flex;
        flex-direction: column;
    }
    .hotelName
    {
        font-size: 18px;
        margin-left: 2px;
    }
    .hotelRate1
    {
        padding-top: 45px;
    }
    .popularDescription
    {
        padding: 7px;
        padding-left: 16px;
    }
    .popularDescription p{
        font-size: 15px;
        margin-left: 2px;
    }
    .container-block
    {
        padding: 0rem 0.1rem;
        flex-direction: column;
    }
    
    .texteinfo
    {
        font-size: 15px;
    }
    .activity
    {
        flex-direction: column;
        display: contents;
    }
    .activityFigure
    {
        margin: 10px;
    }
    .activityArt1, .activityArt3, .activityArt4
    {
        margin-bottom: 30px;
    }
   
    .activityImg1, .activityImg4
    {
        height: 10rem;
        object-position: 0px 0;
    }
    .activityArt1, .activityArt3
    {
        margin-bottom: 30px;
    }
    .actiBloc1, .actiBloc2
    {
        margin: 45px 0 45px 0;
    }
    .activityImg2,.activityImg3, .activityImg5, .activityImg6{
        height: 10rem;
    }
    .activityImg1, .activityImg4
    {
        height: 10rem;
        object-position: 0px 0;
    }
    .flex-container nav ul :nth-child(1) { order: 1; }

    .flex-container nav ul :nth-child(2) { order: 3; }

    .flex-container nav ul :nth-child(3) { order: 4; }

    .flex-container nav ul :nth-child(4) { order: 1; }
    
    .flex-container nav ul
    {
        justify-content:flex-start;
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 40px;
    }

   
    nav li a:hover
    {
        color: #0065FC;
        border-bottom: 2px solid#0065FC;
        font-weight: bolder;
        font-size: 15px;
        width: 4%;
        padding-bottom: 15px;
        border-top: none;
        
    }
    
    nav li a
    {
        
        font-size: 15px;

    }
    
    
    nav
    {
        width: auto;
        margin-left: auto;
    }
    
    .flex-container
    {
        width: auto;
        margin: 3%;
       
    }

   
    .menu
    {
        padding: 0px;
        margin: -7px;
        margin-top: 20px;
        padding-left: 30px;
    }
    
    footer 
    {
        flex:2 1 auto;
        flex-direction:column;
        padding: 0;
    } 
    .about, .ourHotels, .assistance{
        margin-top: 22px;
    }
}



/* Tablet version */
@media only screen and (min-width : 650px) and (max-width: 1340px){

    
    .body
    {
        font-size: 00.9rem;
    }
    #logo
    {
        margin-left: -63px;
    }
    .contourfiltres
    {
        width: 100%;
    }
    #popular{
        background-color: white;
    }
    .popular
    {
        width: auto;
        margin:2%;
        display: flex;
    }
    #hebergements
    {
        margin:2%;
        width: 90%;
    }
    .container-items
    {
    flex: 1 0 45%;
    }
    .container-items img
    {
        width: 112%;
    }
    .hotelDescription
    {
    margin-right: -40px;
    }
    
    .containerHotels 
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .popularTexte
    {
        margin-left: 13%;
    }
    .popularIcon
    {
        margin-right: 55px;
    }
    .filtre
    {
        margin-right: 1rem;
    }
    .popularTab
    {
        width: 100%;
        display: inline-flex;
        align-content: space-between;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        margin: 0;
        padding: 0;
    }
    .activity
    {
        margin: 4rem;
    }
    .activityImg1
    {
        height: 21.2rem;
        object-position: 0px 0;
    }
    .activityImg4
    {
        height: 22.7rem;
        object-position: 0px 0;
    }
    .activityImg2
    {
        height: 7rem;
        object-position: 50% 50%;
    }
    .activityImg3
    {
        height: 7rem;
        object-position: 50% 50%;
    }
    .activityImg5
    {
        height: 8rem;
        object-position: 50% 80%;
    }
    .activityImg6
    {
        height: 8.1rem;
        object-position: 50% 40%;
    }
    .actiMi
    {
        flex: 1 43%;
        object-position: 55px;
    }
    .activityArt3, .activityArt6
    {
        margin-top: 0;
    }
    .actiBloc1
    {
        margin-right: 0;
    }
}